*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body{
background-color: white;
color: black;
}

.heading {
max-width: auto;
margin: 0 auto;
padding: 0 auto;
margin-top: 0;
text-align: center;
background-image: url(images_Stu4/content.jpg);
background-position: center;
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
height: 100vh;
}

h1 {
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
padding-top: 10%;
color: rgb(9, 89, 62);
font-size: 50px;
font-weight:bold;
letter-spacing: 8px;
margin-bottom: 2rem;
}

h2{
    background-color: rgba(0, 0, 0, 0.504);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: aliceblue;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 8px;
    padding: 10px;
}

h3{
    background-color: aliceblue;
    padding: 25px;
    margin: 20px;
}

.data{
    text-align: center;
    padding: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
}

#imgContents1{
    border-radius: 25px;
    padding: 20px;
    float: left;
    width: 500px;
    height: auto;
}

#imgContents2{
    border-radius: 25px;
    padding: 20px;
    float: right;
    width: 500px;
    height: auto;
}

#imgContents3{
    border-radius: 25px;
    padding: 20px;
    float: left;
    width: 500px;
    height: auto;

}

#imgContents4{
    border-radius: 25px;
    padding: 20px;
    float: right;
    width: 500px;
    height: auto;
}

#imgContents5{
    border-radius: 25px;
    padding: 20px;
    float: left;
    width: 500px;
    height: auto;

}

.about p{
    text-align: left;
    
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
}

.howItWorks p{
    text-align: left;
    padding-right: 500px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
}

.benefits p{
    text-align: left;
    padding-left: 500px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px; 
}
  
.considerations p{
    text-align: left;
    padding-right: 500px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;

}

.future p{
    text-align: left;
    padding-left: 500px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;    
}